<h2><a href="http://www.goodreads.com/book/show/9364936-gamestorming">Gamestorming: A Playbook for Innovators, Rule-breakers, and Changemakers</a></h2>
<%= image_tag 'gamestorming.jpg', :width => 100 %>
<p>Great things don't happen in a vacuum. But creating an environment for creative thinking and innovation can be a daunting challenge. How can you make it happen at your company? The answer may surprise you: gamestorming.
This book includes more than 80 games to help you break down barriers, communicate better, and generate new ideas, insights, and strategies. The authors have identified tools and techniques from some of the world's most innovative professionals, whose teams collaborate and make great things happen. This book is the result: a unique collection of games that encourage engagement and creativity while bringing more structure and clarity to the workplace. Find out why -- and how -- with Gamestorming.
Overcome conflict and increase engagement with team-oriented games
Improve collaboration and communication in cross-disciplinary teams with visual-thinking techniques
Improve understanding by role-playing customer and user experiences
Generate better ideas and more of them, faster than ever before
Shorten meetings and make them more productive
Simulate and explore complex systems, interactions, and dynamics
Identify a problem's root cause, and find the paths that point toward a solution</p>

<h2><a href="http://www.goodreads.com/book/show/1648693.Software_for_Your_Head">Software for Your Head: Core Protocols for Creating and Maintaining Shared Vision</a></h2>
<%= image_tag 'software-for-your-head.jpg', :width => 100  %>
<p>Most people have experienced--at least once in their lives--the incomparable thrill of being part of a great team effort. They can remember the unity of purpose they experienced, the powerful passion that inspired them, and the incredible results they achieved. People who have been on a great team can attest that the difference between being on a team with a shared vision and being on a team without one is the difference between joy and misery.</p>
<p>In 1996, Jim and Michele McCarthy, after successful careers leading software development teams at Microsoft and elsewhere, set out to discover a set of repeatable group behaviors that would always lead to the formation of a state of shared vision for any team. They hoped for a practical, communicable, and reliable process that could be used to create the best possible teams every time it was applied. They established a hands-on laboratory for the study and teaching of high-performance teamwork. In a controlled simulation environment, their principle research and teaching effort--the McCarthy Software Development BootCamp--challenged dozens of real-world, high-tech teams to produce and deliver a product. Teams were given a product development assignment, and instructed to form a team, envision the product, agree on how to make it, then design, build, and ship it on time. By repeating these simulations time after time, with the new teams building on the learning from previous teams, core practices emerged that were repeatedly successful. These were encoded as patterns and protocols.</p>


<p>"Software for Your Head" is the first publication of the most significant results of the authors' unprecedented five-year investigation into the dynamics of contemporary teams. The information in this book will provide a means for any team to create for itself a compelling state of shared vision.</p>

<h2><a href="http://www.goodreads.com/book/show/10210821-management-3-0">Management 3.0: Leading Agile Developers, Developing Agile Leaders</a></h2>
<%= image_tag 'management-3-0.jpg', :width => 100  %>
<p>Pragmatic Insights for Successfully Managing Your Unique Agile Team or Organization</p>
<p>In many organizations, management is the biggest obstacle to successful Agile development. Unfortunately, reliable guidance on Agile management has been scarce indeed. Now, leading Agile manager Jurgen Appelo fills that gap, introducing a realistic approach to leading, managing, and growing your Agile team or organization.</p>
<p>Writing for current managers "and" developers moving into management, Appelo shares insights that are grounded in modern complex systems theory, reflecting the intense complexity of modern software development. Appelo's "Management 3.0" model recognizes that today's organizations are living, networked systems; that you can't simply let them run themselves; and that management is primarily about people and relationships.</p>


<p>"Management 3.0" doesn't offer mere checklists or prescriptions to follow slavishly: rather it deepens your understanding of how organizations and Agile teams work, and gives you tools to solve your own problems. Drawing on his extensive experience as an Agile manager and trainer, Appelo identifies the most valuable elements of Agile management, and helps you improve each of them. Coverage includes
Getting beyond "Management 1.0" command hierarchies, and "Management 2.0" fads Understanding how complexity and non-linearity affect your organization-and why the best-laid plans so often fail Giving teams the care and feeding they need to grow on their own Defining boundaries and constraints, so teams can succeed in alignment with company goals Anticipating issues teams won't or can't resolve by themselves Sowing the seeds for a culture of software craftsmanship Keeping your people active, creative, motivated, and energized Helping teams develop crucial missing skills and disciplines Crafting organizational networks and communication flows that promote success Making change desirable-and making stagnation painful Implementing continuous improvement that actually works
Thoroughly pragmatic-and "never" trendy-Jurgen Appelo's "Management 3.0" will help you bring greater agility to any software organization, team, or project.
</p>
